body{
    background-color: black;
    padding: 0px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(rgb(0, 48, 48), rgb(0, 0, 0));;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
}

.page{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}

.page1,.aboutpage{
    height: 100vh;
    z-index: 100;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 85vw;
    height: max-content;
}

.projects>.project{
    background-color: aqua;
    height: 60vh;
    margin: 8px;
}

@media screen and (max-width: 1000px) {
    .projects{
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 700px) {
    .projects{
        grid-template-columns: repeat(1, auto);
    }
}

.bubble{
    position: absolute;
    border-radius: 50%;
    filter: blur(3px);
    z-index: 6;
}

.bubbles{
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    bottom: -2000px;
    right: 0px;
    pointer-events: none;
}

.water-rays{
    position: absolute;
    overflow: hidden;
    left: -100px;
    top: -200px;
    filter: blur(8px);
}

.particles{
    overflow: hidden;
    pointer-events: none;
}

.particles>.particle{
    height: 8px;
    width: 8px;
    background-color: red;
    position: absolute;
    top: 100px;
    left: 100px;
    filter: blur(3px);
}

.disabled{
    pointer-events: none;
    opacity: 0.5;
}

.popup{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 24px;
    font-size: 0.8rem;
    background-color: whitesmoke;
    padding: 8px 4px 8px 4px;
    transform: translateY(100px);
    transition: transform 200ms;
}

.popup>.status{
    width: 100%;
    height: 3px;
    background-color: red;
    margin: auto;
    margin-top: 4px;
}