.general-animation{
    opacity: 0;
    filter: blur(10px);
    transition-property: opacity,filter;
    transition-duration: 800ms;
}

.general-animation.animate{
    opacity: 1;
    filter: blur(0);
}

.slide-animation{
    transform: translateX(-100%);
    filter: blur(10px);
    opacity: 0;
    transition-property: transform,filter,opacity;
    transition-duration: 800ms;
}

.slide-animation.animate{
    transform: translateX(0%);
    filter: blur(0px);
    opacity: 1;
}
