.formDialog{
    width: 30vw;
    min-width: 300px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.contactme-form #email, .contactme-form #message{
    width: 100%;
}

.contactme-form #message{
    resize: none;
    height: 100px;
}