.link{
    margin-top: 8px;
    margin-right: 12px;
    width: fit-content;
}

.link>.address{
    text-decoration: none;
    color: black;
}

.link>button{
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
}

.link>button:hover svg{
    transform: scale(1.15,1.15);
}

.link>button>svg{
    height: 16px;
    fill: var(--primary);
    transition: bottom 300ms;
}

.link .underline{
    height: 2px;
    margin-top: 2px;
    width: 50%;
    transform-origin: center;
    background-color: var(--secondary);
    transition: width 500ms;
}

.link .address:hover + button + .underline{
    width: calc(100% - 18px);
}

.link .address:hover+.underline{
    width: 100%;
}

.link .address:hover{
    cursor: pointer;
}
